# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.installed.cfg
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.venv/
venv/
env/
.envrc
.ruff_cache/
celerybeat-schedule
*.sqlite3
*.db

# Node / JS
node_modules/
.npm/
.next/
.out/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json

# Env & secrets
.env
.env.local
.env.*
!.env.sample
!.env.example

# Docker
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
